<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circulo</title>
    <link rel="stylesheet" href="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/assets/EstiloCirculo.css">
</head>
<body>
    <center>
            <header>
                <h1>Usted ha seleccionado circulo</h1>
            </header>

            <section>
            <div class="contenedor2">
                <img class="circulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/circulo.png" alt="">
            </div>
            <label for="figura"><h3>Digite el radio del circulo</h3></label>
            <input type="number" name="numerodelacaja">
            
            <div>
            <button class="contenedor3">Calcular</button>
            </div> 
    </center> 
</section>  
</body>
</html>