<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Figuras Geometricas</title>
    <link rel="stylesheet" href="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/assets/Estilo.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <h1>Figuras Geometricas</h1>
        </header>
        <CENTER>
        <section>
            <div class="contenedor2">
                <h3>Seleccione la figura a calcular</h3>
            </div>
            <div>
                <img class="circulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/circulo.png" alt="">
                <img class="rectangulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/rectangulo.png" alt="">
                <img class="triangulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/triangulo.png" alt="">
            </div>
                <form action="">
                    <select type="option" name="t1">
                        <option>Triangulo</option>
                        <option>Circulo</option>
                        <option>Rectangulo</option>
                    </select>
                </form>
            <div class="contenedor3">
                <button >Continuar</button>
            </div>
            
        </section>
        </CENTER>    
    </div>
</body>
</html>