<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Rectangulo</title>
    <link rel="stylesheet" href="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/assets/EstiloRectangulo.css">
</head>
<body>
    <center>
        <header>
            <H1>Usted ha seleccionado Rectangulo</H1>
        </header>
        <section>
        <div class="contenedor4">
            <img class="rectangulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/rectangulo.png" alt="">
        </div>
        
        <label for="figura"><h3>Digite la altura del Rectangulo</h3></label>
        <input type="number" name="numerodelacaja">
        <label for="figura"><h3>Digite la base del Rectangulo</h3></label>
        <input type="number" name="numerodelacaja">
        <div>
        <button>Calcular</button>
        </div>
    </center>
</section>
</body>
</html>