<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Triangulo</title>
    <link rel="stylesheet" href="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/assets/EstilosTriangulo.css">
</head>
<body>
    <center>
        <header>
            <H1>Usted ha seleccionado Triangulo</H1>
        </header>
        
        <section>
            <div class="contenedor4">
                <img class="triangulo" src="file:///D:/USUARIO%20(NO%20BORRAR)/Desktop/PorientadaO/src/img/triangulo.png" alt="">
            </div>
        <label for="figura"><h3>Digite la altura del Triangulo</h3></label>
        <input type="number" name="numerodelacaja">
        <label for="figura"><h3>Digite la base del Triangulo</h3></label>
        <input type="number" name="numerodelacaja">
            <div>
                <button class="contenedor5">Calcular</button>
            </div>
    </center>
        </section>  
</body>
</html>